<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      /* .curser {
        height: 1.1rem;
        width: 1.1rem;
        border-radius: 50%;
        left: 0;
        top: 0;
        background: orange;
        position: absolute;
        z-index: 1000;
        pointer-events: none;
      } */
      body {
        cursor: none;
      }
      .curser {
        position: fixed;
        height: 1.1rem;
        width: 1.1rem;
        border-radius: 50%;
        background-color: #ffd700;
        border-radius: 50%;
        pointer-events: none; /* Ensure the cursor doesn't interfere with clicking */
        z-index: 1000; /* Make sure it is on top of other elements */
      }

      .curser.active {
        display: block;
        transition: transform 0.1s ease-in-out;
      }
    </style>
  </head>
  <body>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <div class="curser"></div>
    <script src="/js/curser.js"></script>
  </body>
</html>
