<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link
      rel="icon"
      href="https://res.cloudinary.com/dzsgjnpzh/image/upload/v1745750200/uofpduli9xgrwyu5cghb.png"
    />
    <link href="/css/gallery.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("includes/nav.ejs") %> <%- include("./includes/cursor.ejs") %>
    <div class="gallery opening">
      <h1>Gallery</h1>
    </div>
    <div class="photos">
      <div class="horizontally">
        <img src="/photos/gallery/1.jpg" alt="" loading="lazy" />
      </div>
      <div class="horizontally">
        <img src="/photos/gallery/2.jpg" alt="" loading="lazy" />
      </div>
      <div class="horizontally">
        <img src="/photos/gallery/3.jpg" alt="" loading="lazy" />
      </div>
      <div class="horizontally">
        <img src="/photos/gallery/4.jpg" alt="" loading="lazy" />
      </div>
      <div class="horizontally">
        <img src="/photos/gallery/5.jpg" alt="" loading="lazy" />
      </div>
      <div class="horizontally">
        <img src="/photos/gallery/6.jpg" alt="" loading="lazy" />
      </div>
      <div class="horizontally">
        <img src="/photos/gallery/7.jpg" alt="" loading="lazy" />
      </div>
      <div class="horizontally">
        <img src="/photos/gallery/8.jpg" alt="" loading="lazy" />
      </div>
      <div class="horizontally">
        <img src="/photos/gallery/9.jpg" alt="" loading="lazy" />
      </div>
      <div class="horizontally">
        <img src="/photos/gallery/10.jpg" alt="" loading="lazy" />
      </div>
      <div class="horizontally">
        <img src="/photos/gallery/11.jpg" alt="" loading="lazy" />
      </div>
      <div class="horizontally">
        <img src="/photos/gallery/12.jpg" alt="" loading="lazy" />
      </div>
      <div class="horizontally">
        <img src="/photos/gallery/13.jpg" alt="" loading="lazy" />
      </div>
    </div>
    <%- include("includes/contact.ejs") %>
  </body>
</html>
