* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e6e8f0;
  width: 100%;
  /* background: linear-gradient(to right, #E6F7FF, #AFCBFF); */
  color: #333333;
  font-family: "Montserrat", sans-serif !important;
}

.arrow a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}
.arrow {
  text-align: center;
  margin-top: 3%;
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.arrowP a {
  color: #1c1f4a;
  text-decoration: none;
  font-size: 30px;
}
.arrowP {
  text-align: center;
  margin-top: -5% !important;
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-25px);
  }
}

html {
  scroll-behavior: smooth;
}

.welcome {
  text-align: center;
  font-size: 4rem;
  color: #342e6e;
  animation: fadeInUp 2s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.top {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 34rem;
}
.logoo {
  width: 25.05rem;
  height: 25rem;
}

.animated-background {
  width: 100%;
  height: 100%;
  pointer-events: none;
  animation: animateBackground 2s linear infinite;
  background-image: url("https://res.cloudinary.com/dzsgjnpzh/image/upload/v1745344763/nmwamwf3ojfdcm8xquov.png");
  background-size: cover;
  opacity: 0.8;
}

@keyframes animateBackground {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.middle {
  width: 100%;
  margin-bottom: 1rem;
}

.middle h1 {
  color: #1f3a93;
}

.content-box {
  margin-top: 2rem;
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
  border-radius: 0.7rem;
}
.content-box h1 {
  font-size: 3rem;
  padding-top: 2rem;
}
.information {
  width: 90%;
  padding: 5%;
  padding-top: 2%;
  line-height: 1.8rem;
  font-size: 1.3rem;
  padding-bottom: 0;
  color: #333333;
  word-spacing: 10px;
}

@media (max-width: 1080px) {
  .top {
    justify-content: space-around;
  }
  .logoo {
    width: 20.05rem;
    height: 20rem;
  }
  .graphic {
    height: 27rem;
  }
  .welcome {
    font-size: 3.5rem;
  }
  .content-box {
    width: 85%;
  }
  .information {
    line-height: 1.3rem;
    font-size: 1.2rem;
  }
  .content-box h1 {
    font-size: 2.5rem;
    padding-top: 1.5rem;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(-40px);
    }
    40% {
      transform: translateY(-70px);
    }
    60% {
      transform: translateY(-55px);
    }
  }
}

@media (max-width: 500px) {
  .top {
    justify-content: space-around;
  }
  .logoo {
    width: 15.04rem;
    height: 15rem;
  }
  .graphic {
    height: 20rem;
  }
  .welcome {
    font-size: 2.5rem;
  }
  .content-box {
    width: 90%;
  }
  .information {
    line-height: 1.3rem;
    font-size: 1rem;
  }
  .information h1 {
    font-size: 2rem;
    padding-top: 1rem;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(-40px);
    }
    40% {
      transform: translateY(-70px);
    }
    60% {
      transform: translateY(-55px);
    }
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

/* animation */
